<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta charset="UTF-8">
    <title>Graph Sonification</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'graph/style.css' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
</head>
<body>
    
    <div id = "canvasContainer"></div>
    

    <div class="navbar">
        <a href="{% url 'graph:index' %}">
            <img src="https://i.ibb.co/pZZRGV0/logo-removebg-preview.png" border="0" alt="Logo for the website. Has the team name: Syntax Squad in a circle with a graph depicting sound waves behind it" height="60" width="100">        
        </a>

    </div>
    <div class="content-container" width = "400" height = "400">


        <!-- 
            <form action = "{% url 'graph:excel_upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Upload Excel File</button>
        </form>
        -->

        <div class="left-half">   
            <div class="upload-container">
                <span class="upload-icon">📄</span>
                <p>Browse your device to upload files</p>
                <form action = "{% url 'graph:excel_upload' %}" method="post" enctype="multipart/form-data" id = "uploadForm" class = "formClass">
                <div class="drop-zone">
                    <span class="drop-zone__prompt"> Drop File Here or Click To Upload </span>
                    {% csrf_token %}
                    <input type = "file" name = "myFile" class = "drop-zone__input">
                </div>
                <!-- <button type="submit" class = "submitFormButton"> [TEST FORM]</button> -->
                </form>
                
                <div class = "circle" id = "circle1"> Bar Graph</div>
                <div class = "circle" id = "circle2"> Pie Chart</div>
                <div class = "circle" id = "circle3"> Scatter Plot</div>

                <script>
                    document.querySelectorAll(".drop-zone__input").forEach(inputElement => {
                        const dropZoneElement = inputElement.closest(".drop-zone");

                        dropZoneElement.addEventListener("click", e => {
                            inputElement.click();
                        });

                        inputElement.addEventListener("change", e => {
                            if (inputElement.files.length) {
                                updateThumbnail(dropZoneElement, inputElement.files[0]);
                            }
                        });

                        dropZoneElement.addEventListener("dragover", e => {
                            e.preventDefault();
                            dropZoneElement.classList.add("drop-zone--over");
                        });

                        ["dragleave", "dragend"].forEach(type => {
                            dropZoneElement.addEventListener(type, e => {
                                dropZoneElement.classList.remove("drop-zone--over");
                            });
                        });

                        dropZoneElement.addEventListener("drop", e => {
                            e.preventDefault();
                            if (e.dataTransfer.files.length) {
                                inputElement.files = e.dataTransfer.files;
                                updateThumbnail(dropZoneElement, e.dataTransfer.files[0]);
                            }
                            dropZoneElement.classList.remove("drop-zone--over");
                        });

                        
                        

                        function updateThumbnail(dropZoneElement, file) {
                            let thumbnailElement = dropZoneElement.querySelector(".drop-zone__thumb");

                            if (dropZoneElement.querySelector(".drop-zone__prompt")) {
                                dropZoneElement.querySelector(".drop-zone__prompt").remove();
                            }

                            if (!thumbnailElement) {
                                thumbnailElement = document.createElement("div");
                                thumbnailElement.classList.add("drop-zone__thumb");
                                dropZoneElement.appendChild(thumbnailElement);   
                            }

                            thumbnailElement.dataset.label = file.name;

                            const fileSizeElement = document.createElement("div");
                            fileSizeElement.textContent = formatFileSize(file.size);
                            thumbnailElement.appendChild(fileSizeElement);

                            thumbnailElement.innerHTML = `
                            <div>${file.name}</div>
                            <div class="file-size">${formatFileSize(file.size)}</div>`;

                            if (file.name.toLowerCase().endsWith(".xlsx")) {
                                alert("excel file has been accepted");
                                const reader = new FileReader();
                                reader.onload = function (e) {
                                    const data = new Uint8Array(e.target.result);
                                    const workbook = XLSX.read(data, { type: "array" });
                                    const sheetName = workbook.SheetNames[0];
                                    const sheet = workbook.Sheets[sheetName];
                                    const jsonData = XLSX.utils.sheet_to_json(sheet, { header: 1 });
                                    console.log("excel data", jsonData);

                                    // assuming that the first row contains labels and the rest contains actual data
                                    const labels = jsonData[0];
                                    const values = jsonData[1];
                                    //createBarChart(labels, values, file.name);
                                    //createPieChart(labels, values, file.name);
                                    //createScatterPlot(labels, values, file.name);

                                    document.getElementById('circle1').addEventListener('click', function() {
                                
                                
                                createBarChart(labels, values, file.name);
                                //lastClickedCircle = 'circle1';
                            });

                            document.getElementById('circle2').addEventListener('click', function() {
                               
                                
                                createPieChart(labels, values, file.name);
                                //lastClickedCircle = 'circle2';
                            });


                                };
                                reader.readAsArrayBuffer(file);
                            } else {
                                alert("please drop an excel file");
                            }
                            console.log("labels test");
                            
                            console.log("values test");
                            
                            let lastClickedCircle = null;

                            




                            //prototype 1 for creating bar graph
                            function createBarChart(labels, values, file) {
                                var container = document.getElementById("canvasContainer");
                                var canvas = document.createElement("canvas");
                                canvas.id = "myCanvas";
                                canvas.width = 1000;
                                canvas.height = 400;
                                //const ctx = document.getElementById("myChart").getContext('2d');
                                var ctx = canvas.getContext('2d');
                                container.appendChild(canvas);
                                const myBarChart = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: labels,
                                        datasets: [{
                                            label: file,
                                            data: values,
                                            backgroundColor: 'rgba(75,192,192,1)',
                                            borderColor:'rgba(75,192,192,1)',
                                            borderWidth: 1
                                        }]

                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true,
                                                title: {
                                                    beginAtZero: true,
                                                    text: 'y value here'
                                                }
                                            }
                                        }
                                    }
                                });
                                
                            }

                            //prototype 1 for creating pie graph
                            function createPieChart(labels, values, file) {
                                var container = document.getElementById("canvasContainer");
                                var canvas = document.createElement("canvas");
                                canvas.id = "myCanvas";
                                canvas.width = 1000;
                                canvas.height = 1000;
                                //const ctx = document.getElementById("myChart").getContext('2d');
                                var ctx = canvas.getContext('2d');
                                container.appendChild(canvas);
                                const myPieChart = new Chart(ctx, {
                                    type: 'pie',
                                    data: {
                                        labels: labels,
                                        datasets: [{
                                            label: file,
                                            data: values,
                                            backgroundColor: 'rgba(75,192,192,1)',
                                            borderColor:'rgba(75,192,192,1)',
                                            borderWidth: 1
                                        }]

                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true,
                                                title: {
                                                    beginAtZero: true,
                                                    text: 'y value here'
                                                }
                                            }
                                        }
                                    }
                                });
                            }


                            

                            function scatterPlot(labels, values, file) {

                            }
                            

                            function formatFileSize(size) {
                                const kb = size / 1024;
                                if (kb < 1024) {
                                    return kb.toFixed(2) + "kb";
                                } else {
                                    const mb = kb / 1024;
                                    return mb.toFixed(2) + "mb";
                                }
                            }
                        }
                    });
                </script>
            </div>
        </div>
        
        <div class="form-container">
                <h2>Graph Settings</h2>

                <form action="{% url 'graph:graph_creation' %}" method="post">
                    {% csrf_token %}
                    <fieldset class="form" id="inputFields">
                        <label for="graph_name">Enter Graph Name</label>
                        <input type="text" name="graph_name" id="graph_name">

			<label for="X_name">Enter X Values Name</label>
                        <input type="text" name="X_name" id="graph_name">

			<label for="Y_name">Enter Y Values Name</label>
                        <input type="text" name="Y_name" id="graph_name">

                        <label for="xy_values">Enter X and Y values</label>
                        <div class="xy-container" id="xy_container">
                            <div>
                                <input type="text" name="x_values[]" class="xy-input" placeholder="X">
                                <input type="text" name="y_values[]" class="xy-input" placeholder="Y">
                            </div>
                        </div>
                        <button class="new-button" type="button" onclick="addInput()">Add X and Y Values</button>

                    </fieldset>

                    <button class="new-button" type="submit">Create Graph</button>
                </form>
            </div>
        <div class="right-half">
            <div class="step-container">
                <img class="step1" src="https://i.ibb.co/SfDTf84/step1.jpg" alt="step1" border="0">
                <img class="step2" src="https://i.ibb.co/4m4ddWD/step2.jpg" alt="step2" border="0">
                <img class="step3" src="https://i.ibb.co/jvmLfpF/step3.jpg" alt="step3" border="0">
            </div>
        </div>
<div class="dropdown">
  <button class="dropbutton">Settings</button>
  <div class="dropdown-content">
    <a href="#">Default</a>
    <a href="#">Protanopia </a>
    <a href="#">Deuteranopia </a>
    <a href="#">Tritanopia  </a>
  </div>
</div>
    </div>
	<script>
        function addInput() {
            const container = document.getElementById("xy_container");
            const inputDiv = document.createElement("div");

            const inputX = document.createElement("input");
            inputX.type = "number";
            inputX.name = "x_values[]";
            inputX.classList.add("xy-input");
            inputX.placeholder = "X";

            const inputY = document.createElement("input");
            inputY.type = "text";
            inputY.name = "y_values[]";
            inputY.classList.add("xy-input");
            inputY.placeholder = "Y";

 	    inputDiv.appendChild(inputX);
            inputDiv.appendChild(inputY);
            container.appendChild(inputDiv);
        }
    	</script>

        <!-- Going to try another method for getting data from excel sheet here -->
        <form action = "{% url 'graph:excel_upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Upload Excel File</button>
        </form>
        
        <!--
        <form action="{% url 'graph:excel_upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="excelFile">Choose Excel File:</label>
            <input type="file" name="excelFile" id="excelFile" accept=".xls, .xlsx" required>
            <br>
            <input type="submit" value="Upload">
        </form>
        -->
        
        
        
        

</body>
</html>
