<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta charset="UTF-8">
    <title>Graph Sonification</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'graph/style.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <!-- <link rel="stylesheet" href="style.css"> -->
    
    <!-- <script src="{% static 'graph/colors.js' %}"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
</head>
<body>
    
    <div id = "canvasContainer"></div>
    
    

    <div class="navbar">
    <div>
      <a href="{% url 'graph:index' %}">
            <img src="https://i.ibb.co/pZZRGV0/logo-removebg-preview.png" border="0" alt="Logo for the website. Has the team name: Syntax Squad in a circle with a graph depicting sound waves behind it" height="60" width="120">        
        </a>
    </div>

  <a href="{% url 'graph:about_us' %}" class="dropbutton" style="position: fixed; top: 0px; right: calc(10px + 110px); height: 40px; text-align: center;line-height: 40px;text-decoration: none;">About Us</a>

   
    <div class="dropdown">
  <button onclick="toggledrop()" class="dropbutton">Settings</button>
  <div id="dropperdowner" class="dropdown-content">
    <!-- <a href="#" onclick="defaultMode()">Default</a>
    <a href="#" onclick="darkMode()">Dark Mode</a>
    <a href="#" onclick="protanopiaMode()">Protanopia</a>
    <a href="#" onclick="deuteranopiaMode()">Deuteranopia</a>
    <a href="#" onclick="tritanopiaMode()">Tritanopia</a> -->
    <button id="defaultID" onclick="defaultMode('defaultCSS')">Default</button>
    <button id="darkmodeID" onclick="darkMode('darkmodeCSS')">Dark Mode</button>
    <button id="protanopiaID" onclick="protanopiaMode('protanopiaCSS')">Protanopia</button>
    <button id="deuteranopiaID" onclick="deuteranopiaMode('deuteranopiaCSS')">Deuteranopia</button>
    <button id="tritanopiaID" onclick="tritanopiaMode('tritanopiaCSS')">Tritanopia</button>
    <button id = "monochromaID" onclick="monochromaMode('monochromaCSS')">Monochroma</button>
  </div>
  
</div>
</div>
    <div class="content-container" width = "400" height = "400">
 
        <!-- 
            <form action = "{% url 'graph:excel_upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Upload Excel File</button>
        </form>
        -->

        <div class="left-half">   
            <div class="upload-container">
                <span class="upload-icon">📄</span>
                <p>Browse your device to upload files</p>
                <form action = "{% url 'graph:excel_upload' %}" method="post" enctype="multipart/form-data" id = "uploadForm" class = "formClass">
                
                <div class="drop-zone">
                    <span class="drop-zone__prompt"> Drop File Here or Click To Upload </span>
                    {% csrf_token %}
                    <input type = "file" name = "myFile" class = "drop-zone__input">
                    
                </div>
                <!-- <button type="submit" class = "submitFormButton"> [TEST FORM]</button> -->
                </form>
                
                <div class = "new-button" id = "circle1"> Bar Graph</div>
                <div class = "new-button" id = "circle2"> Pie Chart</div>
                <div class = "new-button" id = "circle3"> Scatter Plot</div>
                <button class="new-button"id="savePdfBtn">Save as PDF</button>
                
                <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
                <script >
                    
                    
                    document.querySelectorAll(".drop-zone__input").forEach(inputElement => {
                        const dropZoneElement = inputElement.closest(".drop-zone");

                        dropZoneElement.addEventListener("click", e => {
                            inputElement.click();
                        });

                        inputElement.addEventListener("change", e => {
                            if (inputElement.files.length) {
                                updateThumbnail(dropZoneElement, inputElement.files[0]);
                            }
                        });

                        dropZoneElement.addEventListener("dragover", e => {
                            e.preventDefault();
                            dropZoneElement.classList.add("drop-zone--over");
                        });

                        ["dragleave", "dragend"].forEach(type => {
                            dropZoneElement.addEventListener(type, e => {
                                dropZoneElement.classList.remove("drop-zone--over");
                            });
                        });

                        dropZoneElement.addEventListener("drop", e => {
                            e.preventDefault();
                            if (e.dataTransfer.files.length) {
                                inputElement.files = e.dataTransfer.files;
                                updateThumbnail(dropZoneElement, e.dataTransfer.files[0]);
                            }
                            dropZoneElement.classList.remove("drop-zone--over");
                        });

                        
                        

                        function updateThumbnail(dropZoneElement, file) {
                            let thumbnailElement = dropZoneElement.querySelector(".drop-zone__thumb");

                            if (dropZoneElement.querySelector(".drop-zone__prompt")) {
                                dropZoneElement.querySelector(".drop-zone__prompt").remove();
                            }

                            if (!thumbnailElement) {
                                thumbnailElement = document.createElement("div");
                                thumbnailElement.classList.add("drop-zone__thumb");
                                dropZoneElement.appendChild(thumbnailElement);   
                            }

                            thumbnailElement.dataset.label = file.name;

                            const fileSizeElement = document.createElement("div");
                            fileSizeElement.textContent = formatFileSize(file.size);
                            thumbnailElement.appendChild(fileSizeElement);

                            thumbnailElement.innerHTML = `
                            <div>${file.name}</div>
                            <div class="file-size">${formatFileSize(file.size)}</div>`;

                            if (file.name.toLowerCase().endsWith(".xlsx")) {
                                alert("excel file has been accepted");
                                const reader = new FileReader();
                                reader.onload = function (e) {
                                    const data = new Uint8Array(e.target.result);
                                    const workbook = XLSX.read(data, { type: "array" });
                                    const sheetName = workbook.SheetNames[0];
                                    const sheet = workbook.Sheets[sheetName];
                                    const jsonData = XLSX.utils.sheet_to_json(sheet, { header: 1 });
                                    console.log("excel data", jsonData);

                                    // assuming that the first row contains labels and the rest contains actual data
                                    const labels = jsonData[0];
                                    const values = jsonData[1];
                                    
                                    //createBarChart(labels, values, file.name);
                                    //createPieChart(labels, values, file.name);
                                    //createScatterPlot(labels, values, file.name);

                                    document.getElementById('circle1').addEventListener('click', function() {
                                    color = window.getComputedStyle(document.getElementById('circle1')).getPropertyValue('background-color');
                                
                                createBarChart(labels, values, file.name, color);
                                //lastClickedCircle = 'circle1';
                            });

                            document.getElementById('circle2').addEventListener('click', function() {
                                color = window.getComputedStyle(document.getElementById('circle2')).getPropertyValue('background-color');
                                
                                createPieChart(labels, values, file.name, color);
                                //lastClickedCircle = 'circle2';
                            });

                            document.getElementById('circle3').addEventListener('click', function() {
                                color = window.getComputedStyle(document.getElementById('circle3')).getPropertyValue('background-color');
                                createScatterPlot(labels, values, file.name, color);
                            });


                                };
                                reader.readAsArrayBuffer(file);
                            } else {
                                alert("please drop an excel file");
                            }
                            console.log("labels test");
                            
                            console.log("values test");
                            
                            let lastClickedCircle = null;

                            


                            window.jsPDF = window.jspdf.jsPDF

                            //prototype 1 for creating bar graph
                            function createBarChart(labels, values, file, color) {
                                const container = document.getElementById("canvasContainer");
                                const canvas = document.createElement("canvas");
                                canvas.id = "myCanvas";
                                canvas.width = 1000;
                                canvas.height = 1000;
                                //const ctx = document.getElementById("myChart").getContext('2d');
                                var ctx = canvas.getContext('2d');
                                container.appendChild(canvas);
                                
                                const myBarChart = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: labels,
                                        datasets: [{
                                            label: file,
                                            data: values,
                                            backgroundColor: color,
                                            borderColor: 'black',
                                            borderWidth: 1
                                        }]

                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true,
                                                title: {
                                                    beginAtZero: true,
                                                    text: 'y value here'
                                                }
                                            }
                                        }
                                    }, 
                                    layout: {
                                        padding : {
                                            top: 20,
                                            bottom: 20,
                                            left: 20,
                                            right: 20
                                        }
                                    }, 
                                    
                                });

                                // the save graph selected as pdf consts

                                
                                    const savePdfBtn = document.getElementById("savePdfBtn");
                                    savePdfBtn.addEventListener('click', function() {
                                    const pdfWidth = canvas.width; 
                                    const pdfHeight = canvas.height; 

                                    var pdf = new jsPDF('l', 'pt', [pdfWidth, pdfHeight]);
                                    pdf.addImage(canvas.toDataURL('image/png'), 'PNG', 0, 0, pdfWidth, pdfHeight);
                                    pdf.save('graph.pdf');
                                });                                
                            }


                            //prototype 1 for creating pie graph
                            function createPieChart(labels, values, file, color) {
                                var container = document.getElementById("canvasContainer");
                                var canvas = document.createElement("canvas");
                                canvas.id = "myCanvas";
                                canvas.width = 1000;
                                canvas.height = 1000;
                                //const ctx = document.getElementById("myChart").getContext('2d');
                                var ctx = canvas.getContext('2d');
                                container.appendChild(canvas);
                                
                                const myPieChart = new Chart(ctx, {
                                    type: 'pie',
                                    data: {
                                        labels: labels,
                                        datasets: [{
                                            label: file,
                                            data: values,
                                            backgroundColor: color,
                                            borderColor: 'black',
                                            borderWidth: .75
                                        }]

                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true,
                                                title: {
                                                    beginAtZero: true,
                                                    text: 'y value here'
                                                }
                                            }
                                        }
                                    }, 
                                    layout: {
                                        padding: {
                                            top: 20,
                                            bottom: 20,
                                            left: 20,
                                            right: 20
                                        }
                                    }, 
                                    
                                });
                                // the save graph selected as pdf consts
                                const savePdfBtn = document.getElementById("savePdfBtn");
                                savePdfBtn.addEventListener('click', function() {
                                    const pdfWidth = canvas.width; 
                                    const pdfHeight = canvas.height; 

                                    var pdf = new jsPDF('l', 'pt', [pdfWidth, pdfHeight]);
                                    pdf.addImage(canvas.toDataURL('image/png'), 'PNG', 0, 0, pdfWidth, pdfHeight);
                                    pdf.save('graph.pdf');
                                });
                            }


                            function createScatterPlot(labels, values, file) {
                                var container = document.getElementById("canvasContainer");
                                var canvas = document.createElement("canvas");
                                canvas.id = "myCanvas";
                                canvas.width = 1000;
                                canvas.height = 1000;
                                //const ctx = document.getElementById("myChart").getContext('2d');
                                var ctx = canvas.getContext('2d');
                                container.appendChild(canvas);
                                
                                const myPieChart = new Chart(ctx, {
                                    type: 'scatter',
                                    data: {
                                        labels: labels,
                                        datasets: [{
                                            label: file,
                                            data: values,
                                            backgroundColor: color,
                                            borderColor:color,
                                            borderWidth: 1
                                        }]

                                    },
                                    options: {
                                        scales: {
                                            xAxes: [{
                                                type: 'linear',
                                                position: 'bottom'
                                            }]
                                        }
                                    }, 
                                     
                                    
                                });
                                // the save graph selected as pdf consts
                                const savePdfBtn = document.getElementById("savePdfBtn");
                                savePdfBtn.addEventListener('click', function() {
                                    const pdfWidth = canvas.width; 
                                    const pdfHeight = canvas.height; 

                                    var pdf = new jsPDF('l', 'pt', [pdfWidth, pdfHeight]);
                                    pdf.addImage(canvas.toDataURL('image/png'), 'PNG', 0, 0, pdfWidth, pdfHeight);
                                    pdf.save('graph.pdf');
                                });
                                
                            }

                            

                            
                            function formatFileSize(size) {
                                const kb = size / 1024;
                                if (kb < 1024) {
                                    return kb.toFixed(2) + "kb";
                                } else {
                                    const mb = kb / 1024;
                                    return mb.toFixed(2) + "mb";
                                }
                            }
                        }
                    });

                    function toggledrop(){
                        document.getElementById("dropperdowner").classList.toggle("show");
                    }
                    window.onclick = function(event){
                        if (!event.target.matches('.dropbutton')){
                            var dropdowns = document.getElementsByClassName("dropdown-content");
                            var i;
                            for (i = 0; i < dropdowns.length; i++){
                                var openDropdown = dropdowns[i];
                                if (openDropdown.classList.contains('show')){
                                    openDropdown.classList.remove('show');
                                }
                            }
                        }
                    }                   
                </script>
            </div>
        </div>
        
        <div class="form-container">
                <h2>Graph Settings</h2>

                <form action="{% url 'graph:graph_creation' %}" method="post">
                    {% csrf_token %}
                    <fieldset class="form" id="inputFields">
                        <label for="graph_name">Enter Graph Name</label>
                        <input type="text" name="graph_name" id="graph_name">
  <label for="graph_type">Select Graph Type</label>
        <select name="graph_type" id="graph_type">
            <option value="bar">Bar Graph</option>
            <option value="scatter">Scatter Plot</option>
        </select>
			<label for="X_name">Enter X Values Name</label>
                        <input type="text" name="X_name" id="graph_name">

			<label for="Y_name">Enter Y Values Name</label>
                        <input type="text" name="Y_name" id="graph_name">

                        <label for="xy_values">Enter X and Y values</label>
                        <div class="xy-container" id="xy_container">
                            <div>
                                <input type="text" name="x_values[]" class="xy-input" placeholder="X">
                                <input type="text" name="y_values[]" class="xy-input" placeholder="Y">
                            </div>
                        </div>
                        <button class="new-button" type="button" onclick="addInput()">Add X and Y Values</button>

                    </fieldset>

                    <button class="new-button" type="submit">Create Graph</button>
                </form>
            </div>
 <div class="form-container"style="width: 600px; margin-left: 40px; overflow-x: hidden;">
	<h2>File Upload Settings</h2>
 <form action="{% url 'graph:graph_form_upload' %}" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        {{ form }}
        <button class="new-button"type="submit">Upload Excel File</button>
    </form>
  </div>
        <div class="right-half">


    <div class="step-container">
        <img id="step1" class="step1" src="https://i.ibb.co/SfDTf84/step1.jpg" alt="step1" border="0">
        <img id="step2" class="step2" src="https://i.ibb.co/4m4ddWD/step2.jpg" alt="step2" border="0">
        <img id="step3" class="step3" src="https://i.ibb.co/jvmLfpF/step3.jpg" alt="step3" border="0">
    </div>
     


</div>

	<script>
        function addInput() {
            const container = document.getElementById("xy_container");
            const inputDiv = document.createElement("div");

            const inputX = document.createElement("input");
            inputX.type = "number";
            inputX.name = "x_values[]";
            inputX.classList.add("xy-input");
            inputX.placeholder = "X";

            const inputY = document.createElement("input");
            inputY.type = "text";
            inputY.name = "y_values[]";
            inputY.classList.add("xy-input");
            inputY.placeholder = "Y";

 	    inputDiv.appendChild(inputX);
            inputDiv.appendChild(inputY);
            container.appendChild(inputDiv);
        }

        
        //This part below handles the color modes by setting the html page to the css type
        var setMode = localStorage.getItem('theme');
        console.log('theme:', setMode);

        if (setMode == null) {
            defaultMode('defaultCSS');
        }
        else if (setMode == 'defaultCSS') {
            defaultMode('defaultCSS');
        }
        else if (setMode == 'darkmodeCSS') {
            darkMode('darkmodeCSS');
        }
        else if (setMode == 'protanopiaCSS') {
            protanopiaMode('protanopiaCSS');
        }
        else if (setMode == 'deuteranopiaCSS') {
            deuteranopiaMode('deuteranopiaCSS');
        }
        else if (setMode == 'tritanopiaCSS') {
            tritanopiaMode('tritanopiaCSS');
        }
        else if (setMode == 'monochromaCSS') {
            monochromaMode('monochromaCSS');
        }

        function defaultMode(content) {
            let elementBody = document.body;
            elementBody.className = "body";

            //let content = document.getElementById("defaultID"); //html id name
            content.innerText = "Default"; //testing
            localStorage.setItem('theme', content); //saves to local storage

            let image1 = document.getElementById("step1");
            let image2 = document.getElementById("step2");
            let image3 = document.getElementById("step3");
            image1.src = "https://i.ibb.co/SfDTf84/step1.jpg";
            image2.src = "https://i.ibb.co/4m4ddWD/step2.jpg";
            image3.src = "https://i.ibb.co/jvmLfpF/step3.jpg";
        }
        function darkMode(content) {
            let elementBody = document.body;
            elementBody.className = "darkmode"; //css class name
            
            //const elementBody = document.getElementById("darkmode");
            //let sheet = document.getElementById("darkmodeID");
            //let content = document.getElementById("darkmodeID"); //html id name
            //document.getElementById('darkmodeID') = sheet
            content.innerText = "Dark Mode"; //testing
            localStorage.setItem('theme', content); //saves to local storage

            let image1 = document.getElementById("step1");
            let image2 = document.getElementById("step2");
            let image3 = document.getElementById("step3");
            image1.src = "https://i.ibb.co/dgCzR5q/step1D.jpg";
            image2.src = "https://i.ibb.co/3Y1XhVT/step2D.jpg";
            image3.src = "https://i.ibb.co/gPq6WcD/step3D.jpg";
        }
        function protanopiaMode(content) {
            let elementBody = document.body;
            elementBody.className = "protanopia";

            //let content = document.getElementById("protanopiaID"); //html id name
            content.innerText = "Protanopia"; //testing
            localStorage.setItem('theme', content); //saves to local storage

            let image1 = document.getElementById("step1");
            let image2 = document.getElementById("step2");
            let image3 = document.getElementById("step3");
            image1.src = "https://i.ibb.co/yst2vrZ/step1Pro.jpg";
            image2.src = "https://i.ibb.co/4m4ddWD/step2.jpg";
            image3.src = "https://i.ibb.co/jvmLfpF/step3.jpg";
        }
        function deuteranopiaMode(content) {
            let elementBody = document.body;
            elementBody.className = "deuteranopia";

            //let content = document.getElementById("deuteranopiaID"); //html id name
            content.innerText = "Deuteranopia"; //testing
            localStorage.setItem('theme', content) //saves to local storage

            let image1 = document.getElementById("step1");
            let image2 = document.getElementById("step2");
            let image3 = document.getElementById("step3");
            image1.src = "https://i.ibb.co/dKLvMKR/step1Deu.jpg";
            image2.src = "https://i.ibb.co/4m4ddWD/step2.jpg";
            image3.src = "https://i.ibb.co/jvmLfpF/step3.jpg";
        }
        function tritanopiaMode(content) {
            let elementBody = document.body;
            elementBody.className = "tritanopia";

            //let content = document.getElementById("tritanopiaID"); //html id name
            content.innerText = "Tritanopia"; //testing
            localStorage.setItem('theme', content) //saves to local storage

            let image1 = document.getElementById("step1");
            let image2 = document.getElementById("step2");
            let image3 = document.getElementById("step3");
            image1.src = "https://i.ibb.co/YDf4fHm/step2tri-JPG.jpg";
            image2.src = "https://i.ibb.co/4m4ddWD/step2.jpg";
            image3.src = "https://i.ibb.co/jvmLfpF/step3.jpg";
        }
        function monochromaMode(content) {
            let elementBody = document.body;
            elementBody.className = "monochroma";

            //let content = document.getElementById("monochromaID"); //html id name
            content.innerText = "Monochroma"; //testing
            localStorage.setItem('theme', content) //saves to local storage

            let image1 = document.getElementById("step1");
            let image2 = document.getElementById("step2");
            let image3 = document.getElementById("step3");
            image1.src = "https://i.ibb.co/ySDqb4R/step1mono.jpg";
            image2.src = "https://i.ibb.co/4m4ddWD/step2.jpg";
            image3.src = "https://i.ibb.co/jvmLfpF/step3.jpg";
        }
    </script>

    <!--
    <body> 
        <button id="csv-dropzone" type="file">
            Drop excel file here
        </button>
        <script>
            const csvDropzone = document.getElementById("csv-dropzone"); 

            csvDropzone.addEventListener("dragover", function (event) { 
                event.preventDefault(); 
                csvDropzone.classList.add("dragover"); 
            }); 

            csvDropzone.addEventListener("dragleave", function (event) { 
                event.preventDefault(); 
                csvDropzone.classList.remove("dragover"); 
            }); 

            csvDropzone.addEventListener("drop", function (event) { 
                event.preventDefault(); 
                csvDropzone.classList.remove("dragover"); 
                const csvFile = event.dataTransfer.files[0]; 

                if (csvFile.name.toLowerCase().endsWith(".csv") ||  
                    csvFile.name.toLowerCase().endsWith(".xlsx")) { 
                    alert("csv file has been selected"); 
                    handleCsvFile(csvFile); 
                } else { 
                    alert("Please drop a CSV file."); 
                } 
            }); 
        </script>
    </body>

    <head> 
        <title>csv file</title> 
        <link rel="stylesheet" href= 
    "https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css" /> 
        <script src= 
    "https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"> 
          </script> 
    </head> 

    <body> 
        <form id="csv-upload-form"> 
            <div class="dropzone" id="csv-dropzone"> 
                <div class="dz-message"> 
                    Drop CSV file here 
                </div> 
            </div> 
        </form> 

        <script> 
            const csvDropzone = new Dropzone("#csv-dropzone", { 
                url: "/upload", 
                acceptedFiles: ".csv, xls, xlsx", 
                maxFiles: 1, 
                init: function () { 
                    this.on("success", function (file, response) { 
                        console.log(response); 
                    }); 
                } 
            }); 
        </script> 
    </body>
    -->
   
</body>
</html>
