 {%static 'graph/styles.css' %}
<style>
        body {
            background-color: #CBE6FF; 
            margin: 0; 
            padding: 0; 
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            font-family: Arial, sans-serif;
        }
        
        .navbar {
            background-color: #C1C0C0; 
            height: 60px; 
            width: 100%; 
            position: fixed; 
            top: 0; 
            margin-bottom: 20px; 
            z-index: 1;
            justify-content: space-between; 
            align-items: center; 
        }

        .logo {
            position: absolute;
            top: 0px;
            left: 0px; 
        }
    
        .aboutus-button {
            padding: 22px;                 
            font-size: 16px;
            background-color: #0085FF;
            color: #fff;
            height: 60px;
            position: relative;
            top: -25px;
            left: 1148px;
        }

        .dropbutton {
            background-color: #0085FF;
            color: white;
            padding: 10px;
            font-size: 18px;
            border: none;
            z-index: 30;
            height: 60px; 
            width: 120px;
        }

        .dropdown {
            right: 0;
            top: 0;
            z-index: 30;
            position: fixed;
            display: inline-block;
            height: 60px;        
        }

        .dropdown-content {
            display: none;
            position: fixed;
            background-color: white;   
            z-index: 1;  
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

        .dropdown-content button {
            background-color: white;
            color: black;
            text-decoration: none;
            display: block;
            border: none;
            padding: 12px 16px;
            font-size: 16px;
            z-index: 30;
            height: 40px; 
            width: 120px;
            text-align: left;
        }

        .dropdown-content button:hover {
            background-color: #ddd;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbutton {
            background-color: #006acc;
        }

        .chart-container {
            margin-top: 500px; 
            border: 1px solid #ccc; 
            border-radius: 5px; 
            overflow: hidden; 
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
        }

        .chart-container canvas {
            display: block;
        }
        
        .darkmode {
            background-color: #2e3237; 
        }

        .darkmode .form-container {
            background-color: #333; 
            border: 2px solid #fff;
            color: white;
        }

        .darkmode .upload-container {
            background-color: #333; 
            border: 2px solid #fff;
            color: white;
        }

        .darkmode .xy-input {
            background-color: #a4a4a4;
        }

        .darkmode .new-button {
            background-color: #fff;
            color: #333;
        }

        .darkmode .dropbutton {
            background-color: #fff;
            color: #333;
        }

        .darkmode .dropdown:hover .dropbutton {
            background-color: #808080;
        }

        .protanopia {
            background-color: #c4c5ee; 
        }

        .protanopia .new-button {
            background-color: #0063c0;
        }

        .protanopia .dropbutton {
            background-color: #0063c0;
        }

        .protanopia .dropdown:hover .dropbutton {
            background-color: #005aaf;
        }

        .deuteranopia {
            background-color: #e1cdfc; 
        }

        .deuteranopia .new-button {
            background-color: #006acc;
        }

        .deuteranopia .dropbutton {
            background-color: #006acc;
        }

        .deuteranopia .dropdown:hover .dropbutton {
            background-color: #0060bb;
        }
        
        .tritanopia {
            background-color: #bae7ff; 
        }

        .tritanopia .new-button {
            background-color: #24747a;
        }

        .tritanopia .dropbutton {
            background-color: #24747a;
        }

        .tritanopia .dropdown:hover .dropbutton {
            background-color: #196368;
        }

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .about-section {
           
            padding: 50px 0;
            text-align: center;
            margin-top: 800px;
        }

        .about-section h2 {
            margin-bottom: 20px;
            color: #333;
        }

        .about-section p {
            color: #666;
        }

        .team-member {
            width: 600px; 
            height: 200px; 
            background-color: #fff; 
            padding: 20px; 
            box-sizing: border-box; 
            margin-bottom: 20px; 
            right: 0;
            text-align:top;
	    display: flex; 
    	    flex-direction: column; 
    	    align-items: flex-start; 
        }

        .member-description {
	    text-align:top;
	    display: flex; 
    	    flex-direction: column; 
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            right: 0;
	    word-wrap: break-word;
	    font-size: 10px;
        }

    </style>